<div>
  <select id="region_select" [(ngModel)]="selected_region" (change)="onRegionChange()">
    <option disabled value> -- Region -- </option>
    <option *ngFor="let region of region_list" value="{{region}}">{{region}}</option>
  </select>
  <select *ngIf="selected_region" id="year_select" (change)="onYearChange()" [(ngModel)]="sel_year">
    <option disabled value> -- Year -- </option>
    <option *ngFor="let year of years" value="{{ year }}">{{ year }}</option>
  </select>
  <canvas id="weather-chart"></canvas>
</div>