#section1 {
    width: 100%;
    height: 100vh;
    background-color: red;
}

#section2 {
    width: 100%;
    height: 100vh;
    background-color: blue;
}

#section3 {
    width: 100%;
    height: 100vh;
    background-color: green;
}